# PostgreSQL container settings
# type: string
POSTGRES_DB=<postgres_database_name>
# type: string
POSTGRES_USER=<postgres_username>
# type: string (secret)
POSTGRES_PASSWORD=<postgres_password>
# type: string (hostname or IP)
POSTGRES_HOST=<postgres_host>
# type: number
POSTGRES_PORT=<postgres_host_port>

# Application database connection settings
# type: enum(postgres|mysql|sqlite)
DATABASE_CLIENT=<database_client>
# type: string (hostname)
DATABASE_HOST=<database_host>
# type: number
DATABASE_PORT=<database_port>
# type: string
DATABASE_NAME=<database_name>
# type: string
DATABASE_USERNAME=<database_username>
# type: string (secret)
DATABASE_PASSWORD=<database_password>
# type: boolean(true|false)
DATABASE_SSL=<database_ssl>

# Strapi dev server port and runtime mode
# type: number
STRAPI_PORT=<strapi_port>
# type: enum(development|production)
NODE_ENV=<node_env>