# Server
# type: string (hostname or IP)
HOST=<server_host>
# type: number
PORT=<server_port>

# Database
# type: enum(postgres|mysql|sqlite)
DATABASE_CLIENT=<database_client>
# type: string (hostname)
DATABASE_HOST=<database_host>
# type: number
DATABASE_PORT=<database_port>
# type: string
DATABASE_NAME=<database_name>
# type: string
DATABASE_USERNAME=<database_username>
# type: string (secret)
DATABASE_PASSWORD=<database_password>
# type: boolean(true|false)
DATABASE_SSL=<database_ssl>

# Strapi secrets
# type: string (comma-separated, secret)
APP_KEYS=<app_keys_csv>
# type: string (secret)
API_TOKEN_SALT=<api_token_salt>
# type: string (secret)
ADMIN_JWT_SECRET=<admin_jwt_secret>
# type: string (secret)
TRANSFER_TOKEN_SALT=<transfer_token_salt>
# type: string (secret)
JWT_SECRET=<jwt_secret>
# type: string (secret)
ENCRYPTION_KEY=<encryption_key>
