@use '@angular/material' as mat;

@include mat.core();

$rws-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: mat.$azure-palette,
			tertiary: mat.$blue-palette,
		),
		density: (
			scale: 0,
		),
	)
);

:root {
	--rws-primary: #1976d2;
	--rws-bg: #f5f7fa;
	--rws-card: #ffffff;
	--rws-radius: 12px;
	--rws-text: #1c2733;
	--rws-border: #d8e1eb;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	color: var(--rws-text);
	background-color: var(--rws-bg);
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	@include mat.theme($rws-theme);
}

* {
	box-sizing: border-box;
}
